@import 'https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu+Mono|Roboto';

body {
    background-color: #2c2f33 !important;
    margin: 0 !important;
}

.nav-dark {
    background-color: #23272a;
}

.nav-dark a {
    color: white;
    opacity: 0.90;
    transition: 0.2s;
    font-size: 12px;
    font-family: open sans,sans-serif !important;
}

.nav-dark a:hover {
  opacity: 1;
  color: white;
}

p {
    color: #f6f6f7 !important;
}

h1 {
    color: #f6f6f7 !important;
    font-family: open sans,sans-serif !important;
}

/* a {
    color: #f6f6f7 !important;
    font-size: 14px;
    font-family: open sans,sans-serif !important;
}

a:hover {
    color: #00b0f4 !important;
} */

.btn {
    font-family: open sans,sans-serif !important;
    background-color: #23272a !important;
    border: 0 none !important; 
    font-size: 15px !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none !important;
}

.btn:active {
    background: none !important;
    box-shadow: none !important;    
}

::-webkit-scrollbar {
   width: 10px;
   background: #3c3e40;
   box-flex: 1;
   flex: 1;
   overflow-y: scroll;
   min-height: 1px;
   border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #525354; transition: 0.3s;
}